!!!5
html
  head
    title Socket.io Test
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script
      var socket = io.connect('http://localhost');
      var mySocketID;
      socket.on('joined', function(data){
        mySocketID = data.id;
        $('#users ul').append("<li class='user-"+mySocketID+"''><h2>Someone has joined</h2></li>");
      });
      socket.on('rename', function(data){
        id = data.id
        newName = data.newName
        $(".user-"+id+" h2").replaceWith("<h2>"+newName+"</h2>")
      });
      socket.on('disconnect', function(data){
        id = data.id
        $(".user-"+id).remove();
      });
      jQuery(document).ready( function($) {
        $username = $('#username');
        $username.on('click', 'button', function(){
          newName = $username.find('input').val();
          socket.emit('rename', {id: mySocketID, newName: newName});
        });
      });

  body
    #users
        ul
    #username
      input(type="text")
      button(type="submit") Rename

